{{define "header"}}
<!doctype html>
<html lang="en">
<head>
  <title>{{if .Title}}{{.Title}}{{else}}douglas-adams-quotes/{{end}}</title>
  <link rel="stylesheet" href="/static/css/font-files/inter.css" />
  <link rel="stylesheet" href="/static/css/base.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.png">
  <link rel="icon" href="/static/favicon.svg">
</head>
<body class="flex flex-col min-h-screen">
  <div class="bg-gray-100 border-b border-gray-200 pt-4 pb-2 mb-6">
    <header class="container mx-auto px-4">
      <h1 class="text-2xl font-bold pb-1"><a href="/">douglas-adams-quotes/</a></h1>
      Enjoy words of wisdom from the late, great Douglas Adams.
    </header>
  </div>

  <main class="container mx-auto px-4 flex-1">
{{end}}

{{define "footer"}}
  </main>
  <footer class="bg-gray-100 border-t border-gray-200 pt-2 pb-2 mt-6 flex flex-row items-center">
    <code class="ml-4"><pre>.i la budza pu cusku lu
  << .i ko snura .i ko kanro
     .i ko panpi .i ko gleki >></pre></code>
    <span class="mx-auto"></span>
    <img class="w-8 h-16 mr-4" src="https://xelaso.net/static/img/xeiaso.svg" />
  </footer>
</html>
{{end}}